// В этом файле должны быть стили для БЭМ-блока test, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.test {
  $block-name: &; // #{$block-name}__element

  width: 100px;
  height: 100px;
  appearance: none;
}
