:root {
  --color_black: #000;
  --color_white: #fff;
  --font_base: var(--font_sans);
  --font_sans: -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Ubuntu", "Droid Sans",
    "Helvetica Neue", arial, sans-serif "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font_serif: georgia, "Times New Roman", times, serif;
  --font_mono: sfmono-regular, menlo, monaco, consolas, liberation mono, "Courier New", monospace;
  --body_color: var(--front-primary);
  --body_bg: var(--back-primary);
  --font_size_root: 100%;
  --font_size_base: 1rem;
  --font_weight_base: 400;
  --line_height_base: 100%;

  // Семантические цвета

  --front_primary: #000;
  --front_secondary: #555;
  --front_invert: #fff;
  --back_primary: #fff;
  --back_secondary: #f0f0f0;
  --back_tertiary: #e0e0e0;
  --border_primary: #aaa;
  --link_color: #0069b4;
  --link_color--hover: darken(var(--link-color), 15%);
}

$screen-m: 0;
$screen-t: 576px;
$screen-ti: 768px;
$screen-tl: 992px;
$screen-d: 1280px;
$screen-dl: 1440px;
$screen-dxl: 1680px;

// Технические цвета, не использовать в проекте

$black: hsl(0deg 0% 0%);
$gray-darkest: hsl(0deg 0% 10%);
$gray-darker: hsl(0deg 0% 20%);
$gray-darken: hsl(0deg 0% 30%);
$gray-dark: hsl(0deg 0% 40%);
$gray: hsl(0deg 0% 50%);
$gray-light: hsl(0deg 0% 60%);
$gray-lighten: hsl(0deg 0% 70%);
$gray-lighter: hsl(0deg 0% 80%);
$gray-lightest: hsl(0deg 0% 90%);
$white: hsl(0deg 0% 100%);
